# Business Scenario

Write here a description of the problem we are trying the solve, the first assumption and the first scopes of possible solutions

# 0.0 IMPORTS

In [1]:
import pandas as pd

## 0.1 Functions

# 1.0 DATA DESCRIPTION

In [4]:
df1 = pd.read_csv(r'C:\Users\diego\Desktop\Data Science\credit_risk_prediction\test.csv',index_col=0)
df1.head().T

,0,1,2,3,4
TaxaDeUtilizacaoDeLinhasNaoGarantidas,0.885519,0.463295,0.043275,0.280308,1.000000
Idade,43.000000,57.000000,59.000000,38.000000,27.000000
NumeroDeVezes30-59DiasAtrasoNaoPior,0.000000,0.000000,0.000000,1.000000,0.000000
TaxaDeEndividamento,0.177513,0.527237,0.687648,0.925961,0.019917
RendaMensal,5700.000000,9141.000000,5083.000000,3200.000000,3865.000000
NumeroDeLinhasDeCreditoEEmprestimosAbertos,4.000000,15.000000,12.000000,7.000000,4.000000
NumeroDeVezes90DiasAtraso,0.000000,0.000000,0.000000,0.000000,0.000000
NumeroDeEmprestimosOuLinhasImobiliarias,0.000000,4.000000,1.000000,2.000000,0.000000
NumeroDeVezes60-89DiasAtrasoNaoPior,0.000000,0.000000,0.000000,0.000000,0.000000
NumeroDeDependentes,0.000000,2.000000,2.000000,0.000000,1.000000

## 1.1 Data Shape

In [11]:
print('Number of Rows:', df1.shape[0])
print('Number of Columns:', df1.shape[1])
print('Column Names:', df1.columns)

Number of Rows: 101503
Number of Columns: 10
Column Names: Index(['TaxaDeUtilizacaoDeLinhasNaoGarantidas', 'Idade',
       'NumeroDeVezes30-59DiasAtrasoNaoPior', 'TaxaDeEndividamento',
       'RendaMensal', 'NumeroDeLinhasDeCreditoEEmprestimosAbertos',
       'NumeroDeVezes90DiasAtraso', 'NumeroDeEmprestimosOuLinhasImobiliarias',
       'NumeroDeVezes60-89DiasAtrasoNaoPior', 'NumeroDeDependentes'],
      dtype='object')

## 1.2 Rename Columns

In [24]:
# list with columns names in english
translated_columns_english = [
     'Utilization_Rate_of_Non-Guaranteed_Lines',
     'Age',
     'Number_of_Times_30-59_Days_Late_Not_Worse',
     'Debt_Ratio',
     'Monthly_Income',
     'Number_of_Open_Credit_Lines_and_Loans',
     'Number_of_Times_90_Days_Late',
     'Number_of_Mortgage_Loans_or_Lines',
     'Number_of_Times_60-89_Days_Late_Not_Worse',
     'Number_of_Dependents'
]

#_rename_the_columns_to_snake_case_format
df1.columns = [col_name.lower() for col_name in translated_columns_english]

df1.head()

,utilization_rate_of_non-guaranteed_lines,age,number_of_times_30-59_days_late_not_worse,debt_ratio,monthly_income,number_of_open_credit_lines_and_loans,number_of_times_90_days_late,number_of_mortgage_loans_or_lines,number_of_times_60-89_days_late_not_worse,number_of_dependents
0,0.885519,43,0,0.177513,5700.0,4,0,0,0,0.0
1,0.463295,57,0,0.527237,9141.0,15,0,4,0,2.0
2,0.043275,59,0,0.687648,5083.0,12,0,1,0,2.0
3,0.280308,38,1,0.925961,3200.0,7,0,2,0,0.0
4,1.000000,27,0,0.019917,3865.0,4,0,0,0,1.0

## 1.3 Data Types

In [8]:
df1.dtypes

TaxaDeUtilizacaoDeLinhasNaoGarantidas         float64
Idade                                           int64
NumeroDeVezes30-59DiasAtrasoNaoPior             int64
TaxaDeEndividamento                           float64
RendaMensal                                   float64
NumeroDeLinhasDeCreditoEEmprestimosAbertos      int64
NumeroDeVezes90DiasAtraso                       int64
NumeroDeEmprestimosOuLinhasImobiliarias         int64
NumeroDeVezes60-89DiasAtrasoNaoPior             int64
NumeroDeDependentes                           float64
dtype: object

## 1.3 Check NaN

In [26]:
df1.isna().sum()/len(df1)

utilization_rate_of_non-guaranteed_lines     0.000000
age                                          0.000000
number_of_times_30-59_days_late_not_worse    0.000000
debt_ratio                                   0.000000
monthly_income                               0.198053
number_of_open_credit_lines_and_loans        0.000000
number_of_times_90_days_late                 0.000000
number_of_mortgage_loans_or_lines            0.000000
number_of_times_60-89_days_late_not_worse    0.000000
number_of_dependents                         0.025871
dtype: float64

## 1.4 Fill NaN

## 1.5 Describe Data

Describe data with NaN values

In [30]:
display(df1.describe())
display(df1[(df1['monthly_income'].isna())].describe())

,utilization_rate_of_non-guaranteed_lines,age,number_of_times_30-59_days_late_not_worse,debt_ratio,monthly_income,number_of_open_credit_lines_and_loans,number_of_times_90_days_late,number_of_mortgage_loans_or_lines,number_of_times_60-89_days_late_not_worse,number_of_dependents
count,101503.000000,101503.000000,101503.000000,101503.000000,8.140000e+04,101503.000000,101503.000000,101503.000000,101503.000000,98877.000000
mean,5.310000,52.405436,0.453770,344.475020,6.855036e+03,8.453514,0.296691,1.013074,0.270317,0.769046
std,196.156039,14.779756,4.538487,1632.595231,3.650860e+04,5.144100,4.515859,1.110253,4.503578,1.136778
min,0.000000,21.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.030131,41.000000,0.000000,0.173423,3.408000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,0.152586,52.000000,0.000000,0.364260,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,0.564225,63.000000,0.000000,0.851619,8.200000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,21821.000000,104.000000,98.000000,268326.000000,7.727000e+06,85.000000,98.000000,37.000000,98.000000,43.000000

,utilization_rate_of_non-guaranteed_lines,age,number_of_times_30-59_days_late_not_worse,debt_ratio,monthly_income,number_of_open_credit_lines_and_loans,number_of_times_90_days_late,number_of_mortgage_loans_or_lines,number_of_times_60-89_days_late_not_worse,number_of_dependents
count,20103.000000,20103.000000,20103.000000,20103.000000,0.0,20103.000000,20103.000000,20103.00000,20103.000000,17477.000000
mean,6.066298,56.690146,0.670198,1622.574143,NaN,7.255633,0.563150,0.86012,0.532159,0.322195
std,219.743133,15.497053,6.875238,2832.472770,NaN,4.933874,6.868477,1.00379,6.861635,0.821180
min,0.000000,21.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.00000,0.000000,0.000000
25%,0.015659,46.000000,0.000000,120.000000,NaN,4.000000,0.000000,0.00000,0.000000,0.000000
50%,0.080425,57.000000,0.000000,1146.000000,NaN,6.000000,0.000000,1.00000,0.000000,0.000000
75%,0.437629,67.000000,0.000000,2379.500000,NaN,10.000000,0.000000,1.00000,0.000000,0.000000
max,16049.000000,104.000000,98.000000,268326.000000,NaN,52.000000,98.000000,12.00000,98.000000,8.000000